<div class="page column center-children">
  <div class="content column">
    <div class='product-details-title-container'>
      <h1><%= @product.title %></h1>
      <div style='flex: 1'></div>
      <div class='product-details-price-container'>
        <div class='product-details-price-label'>
          <%= render 'price_tag', product: @product %>
        </div>
          <%= render 'availability_label', product: @product, class: 'product-details-price-label' %>
      </div>
    </div>

    <% if @product.has_image? %>
      <%= image_tag @product.image, class: 'product-details-image' %>
    <% end %>

    <p class="product-details-description"><%= @product.description %></p>    
  </div>
</div>
